<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>DigiMedia - Creative SEO HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="static/assets/css/templatemo-digimedia-v2.css">
    <link rel="stylesheet" href="static/assets/css/animated.css">
    <link rel="stylesheet" href="static/assets/css/owl.css">
<!--

TemplateMo 568 DigiMedia

https://templatemo.com/tm-568-digimedia

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- Pre-header Starts -->

  <!-- Pre-header End -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/" class="logo">
              <img src="static/assets/images/logo-v2.png" alt="">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="/register">Register</a></li>
              <li class="scroll-to-section"><a href="/login">Login</a></li>

              <li class="scroll-to-section"><a href="#about">About</a></li>
              <li class="scroll-to-section"><a href="#services">Categories</a></li>
              <li class="scroll-to-section"><a href="#portfolio">Label Results</a></li>
             
              <li class="scroll-to-section"><a href="#contact">Contact</a></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h6>Advanced Railway Objects Detection</h6>
                    <h2>YOLO-Powered  Object Recognition</h2>
                    <p>Experience  technology in railway object detection . Our system ensures precise detection of trains, signals, railwaytracks , cars and persons, boosting operational safety and efficiency like never before.</p>

                  </div>
                  <div class="col-lg-12">
                  
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="static/assets/images/slider-dec-v2.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6">
            <div class="about-left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
              <img src="static/assets/images/about-dec-v2.png" alt="YOLO Railway Detection">
            </div>
          </div>
          <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="about-right-content">
              <div class="section-heading">
                <h6>About Us</h6>
                <h4>What is YOLO <em>Railway Detection</em></h4>
                <div class="line-dec"></div>
              </div>
              <p>Our YOLO-based railway object detection system leverages advanced deep learning to identify trains, signals, and obstacles with high accuracy and in real-time. It is designed to enhance railway safety and streamline monitoring processes.</p>
              <div class="row">
                <div class="col-lg-4 col-sm-4">
                  <div class="skill-item first-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="progress" data-percentage="95">
                      <span class="progress-left">
                        <span class="progress-bar"></span>
                      </span>
                      <span class="progress-right">
                        <span class="progress-bar"></span>
                      </span>
                      <div class="progress-value">
                        <div>
                          95%<br>
                          <span>Object Detection</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                  <div class="skill-item second-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="progress" data-percentage="90">
                      <span class="progress-left">
                        <span class="progress-bar"></span>
                      </span>
                      <span class="progress-right">
                        <span class="progress-bar"></span>
                      </span>
                      <div class="progress-value">
                        <div>
                          90%<br>
                          <span>Object Categorization</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                  <div class="skill-item third-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="progress" data-percentage="85">
                      <span class="progress-left">
                        <span class="progress-bar"></span>
                      </span>
                      <span class="progress-right">
                        <span class="progress-bar"></span>
                      </span>
                      <div class="progress-value">
                        <div>
                          85%<br>
                          <span style="padding: 20px;">Safety-Enhancement</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h6>Detailed Description of class labels</h6>
            <h4><em>Provides</em></h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="menu">
                    <div class="first-thumb active">
                      <div class="thumb">
                        <span class="icon"><img src="static/assets/images/service-icon-01.png" alt=""></span>
                        Train
                      </div>
                    </div>
                    <div>
                      <div class="thumb">                 
                        <span class="icon"><img src="static/assets/images/service-icon-01.png" alt=""></span>
                        Railway &amp; Track
                      </div>
                    </div>
                    <div>
                      <div class="thumb">                 
                        <span class="icon"><img src="static/assets/images/service-icon-01.png" alt=""></span>
                        Cars
                      </div>
                    </div>
                    <div>
                      <div class="thumb">                 
                        <span class="icon"><img src="static/assets/images/service-icon-01.png" alt=""></span>
                        Signals
                      </div>
                    </div>
                    <div class="last-thumb">
                      <div class="thumb">                 
                        <span class="icon"><img src="static/assets/images/service-icon-01.png" alt=""></span>
                        Person
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="col-lg-12">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>YOLO Train Detection System</h4>
                                <p>Our YOLO-based train detection system leverages advanced deep learning techniques to ensure accurate and real-time detection of trains. This state-of-the-art solution is designed to enhance safety and efficiency in railway operations.</p>
                                <div class="ticks-list">
                                  <span><i class="fa fa-check"></i> High Accuracy with YOLO</span>
                                  <span><i class="fa fa-check"></i> Optimized for Edge Devices</span>
                                  <span><i class="fa fa-check"></i> Low Latency Performance</span>
                                  <span><i class="fa fa-check"></i> Customizable for Different Scenarios</span>
                                  <span><i class="fa fa-check"></i> Comprehensive Data Analysis</span>
                                </div>
                                <p>Built with scalability and reliability in mind, our YOLO train detection system is an ideal solution for modern railway monitoring applications.</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="static/assets/images/train-detection.jpg" alt="YOLO Train Detection">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Railway Track</h4>
                                <p>Railway track detection is crucial for ensuring safety and reliability in railway transportation systems. Using YOLO (You Only Look Once), an advanced deep learning-based object detection model, we can efficiently detect and monitor railway tracks in real-time, enabling automatic surveillance and maintenance systems.</p>
                                <div class="ticks-list">
                                  <span><i class="fa fa-check"></i> High Accuracy with YOLO</span>
                                  <span><i class="fa fa-check"></i> Fast and Efficient Processing</span>
                                  <span><i class="fa fa-check"></i> Detects Track Damage or Obstructions</span>
                                  <span><i class="fa fa-check"></i> Enhanced Safety Monitoring</span>
                                  <span><i class="fa fa-check"></i> Automatic Incident Detection</span>
                                </div>
                                <p>By leveraging YOLO's ability to detect multiple objects in an image quickly, railway track detection systems can identify various elements like the tracks, switches, and surrounding environment, even under difficult lighting conditions. This enhances the capability of surveillance cameras and drones in monitoring track integrity and preventing accidents.</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="static/assets/images/result_rs00078_jpg.rf.409e9e4846b9f8cc063a572f921117aa.jpg" alt="Railway Track Detection using YOLO">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Car Detection Using YOLO</h4>
                                <p>Car detection is an essential application of computer vision, commonly used in various fields such as autonomous driving, traffic surveillance, and parking management. YOLO (You Only Look Once) is a state-of-the-art object detection algorithm that provides real-time, high-accuracy detection of cars in video streams or images, enabling intelligent traffic monitoring and autonomous vehicle navigation.</p>
                                <div class="ticks-list">
                                  <span><i class="fa fa-check"></i> High Detection Accuracy</span>
                                  <span><i class="fa fa-check"></i> Efficient for Autonomous Vehicles</span>
                                  <span><i class="fa fa-check"></i> Traffic Management Solutions</span>
                                  <span><i class="fa fa-check"></i> Supports Multiple Camera Feeds</span>
                                  <span><i class="fa fa-check"></i> Ideal for Surveillance and Monitoring</span>
                                </div>
                                <p>By utilizing YOLO's speed and accuracy, car detection systems can analyze live video feeds and detect cars in various scenarios, such as parking lots, highways, or urban environments. This can be crucial for developing smart cities, improving traffic flow, and ensuring the safety of autonomous driving systems.</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="static/assets/images/result_000000000923_jpg.rf.df1185b39bc6dbdbd5334d390fe64a27.jpg" alt="Car Detection Using YOLO">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Signal Detection Using YOLO</h4>
                                <p>Signal detection is a crucial component of intelligent traffic management systems, smart cities, and autonomous driving. By leveraging the power of YOLO (You Only Look Once), a cutting-edge object detection algorithm, signals such as traffic lights and road signs can be detected in real-time with high accuracy. This technology plays a vital role in ensuring the safety and efficiency of transportation systems.</p>
                                <div class="ticks-list">
                                  <span><i class="fa fa-check"></i> High Accuracy in Traffic Management</span>
                                  <span><i class="fa fa-check"></i> Essential for Autonomous Vehicles</span>
                                  <span><i class="fa fa-check"></i> Optimized for Low-Latency Environments</span>
                                  <span><i class="fa fa-check"></i> Detection of Traffic Lights, Signs, and Signals</span>
                                  <span><i class="fa fa-check"></i> Reduces Traffic Accidents</span>
                                </div>
                                <p>YOLO’s efficiency in detecting signals such as traffic lights and road signs makes it an essential tool for autonomous vehicles, where real-time decision-making based on traffic conditions is critical. Additionally, YOLO’s speed ensures low-latency processing, which is vital for applications such as smart traffic control and safety systems.</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="static/assets/images/dataset2_INRIA_Person_Train_crop001054_jpg.rf.46dba45a9292338a0005ab5d44e5d304.jpg" alt="Signal Detection Using YOLO">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Person Detection Using YOLO</h4>
                                <p>Person detection is a critical application of object detection, used in various fields such as surveillance, security, crowd management, and autonomous systems. YOLO (You Only Look Once) offers a fast and efficient solution for real-time person detection, enabling systems to accurately identify and track individuals in dynamic environments. This technology is pivotal in ensuring safety and efficiency in public spaces, transport systems, and smart cities.</p>
                                <div class="ticks-list">
                                  <span><i class="fa fa-check"></i> High Accuracy in Dynamic Environments</span>
                                  <span><i class="fa fa-check"></i> Essential for Security and Surveillance</span>
                                  <span><i class="fa fa-check"></i> Automated Crowd Monitoring</span>
                                  <span><i class="fa fa-check"></i> Works in Varied Lighting and Environmental Conditions</span>
                                  <span><i class="fa fa-check"></i> Efficient for Autonomous Systems</span>
                                </div>
                                <p>By leveraging YOLO’s capabilities, person detection systems can identify individuals in crowded scenes, in real-time, without sacrificing accuracy. Whether it's for security purposes, automated crowd monitoring, or enabling autonomous vehicles to safely navigate environments with pedestrians, YOLO offers a reliable solution. Its low latency and high precision make it ideal for applications that demand quick and accurate detection of human presence.</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="static/assets/images/ria-2823954-tn_jpg.rf.6eef673cfdc43baa608a65aac7d57749.jpg" alt="Person Detection Using YOLO">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </li>
                  </ul>
                </div>          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  


  <div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            <h6>Our Classes</h6>
            <h4>See Our Label <em>Results</em></h4>
            <div class="line-dec"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
      <div class="row">
        <div class="col-lg-12">
          <div class="loop owl-carousel">
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="static/assets/images/71d9155eef73a162dc55824007aa2ea7150010ba3_1920_1280_c_jpg.rf.0018541d0f9274b9571b115722a46145.jpg" alt="">
                </div>
                <div class="down-content">
               
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="static/assets/images/7724-rss_jpg.rf.a9d206f1ad8b988762adcd0e9f3d17d6.jpg" alt="">
                </div>
                <div class="down-content">
                
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="static/assets/images/zwp6XHgF6cQu9tg2PodrPydnVhCONplJOPZpZBo9wDiwZKXk8YFVYHl_z17_rewd4S5vIn6_J7mEpStSgLtmRA_jpg.rf.09301bf610d718b1d556f82c067a3809.jpg" alt="">
                </div>
                <div class="down-content">
              
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="static/assets/images/train-detection.jpg" alt="">
                </div>
                <div class="down-content">
            
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="static/assets/images/zwp6XHgF6cQu9tg2PodrPydnVhCONplJOPZpZBo9wDiwZKXk8YFVYHl_z17_rewd4S5vIn6_J7mEpStSgLtmRA_jpg.rf.09301bf610d718b1d556f82c067a3809.jpg" alt="">
                </div>
                <div class="down-content">
              
                </div>
              </div>
              </a>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
            <h6>Contact Us</h6>
            <h4>Get In Touch With Us <em>Now</em></h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-12">
                <div class="contact-dec">
                  <img src="static/assets/images/contact-dec-v2.png" alt="">
                </div>
              </div>
              <div class="col-lg-5">
                <div id="map">
                  <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="636px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="fill-form">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="info-post">
                        <div class="icon">
                          <img src="static/assets/images/phone-icon.png" alt="">
                          <a href="#">010-020-0340</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="info-post">
                        <div class="icon">
                          <img src="static/assets/images/email-icon.png" alt="">
                          <a href="#">our@email.com</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="info-post">
                        <div class="icon">
                          <img src="static/assets/images/location-icon.png" alt="">
                          <a href="#">123 Rio de Janeiro</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                      </fieldset>
                      <fieldset>
                        <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                      </fieldset>
                      <fieldset>
                        <input type="subject" name="subject" id="subject" placeholder="Subject" autocomplete="on">
                      </fieldset>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <textarea name="message" type="text" class="form-control" id="message" placeholder="Message" required=""></textarea>  
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="main-button ">Send Message Now</button>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2024 PythonTeam Co., Ltd. All Rights Reserved. 
          <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates"></a></p>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/js/owl-carousel.js"></script>
  <script src="static/assets/js/animation.js"></script>
  <script src="static/assets/js/imagesloaded.js"></script>
  <script src="static/assets/js/custom.js"></script>

</body>
</html>